.bonuses {
  position: relative;
  order: 1;
  padding-top: 80px;
  padding-bottom: 90px;
  overflow: hidden;

  &__text {
    @extend %text;
    margin-bottom: 70px;
  }

  &__title {
    @extend %h2;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-bottom: 70px;
    list-style-type: none;

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include onDesktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__name {
    font-size: 23px;
    line-height: 135%;
  }

  &__value {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
  }

  &__icon {
    display: block;
    width: fit-content;
  }

  &__img {
    width: 100%;
    margin-bottom: 60px;
  }

  &__gradient {
    display: none;

    @include onDesktop {
      display: block;
      position: absolute;
      order: 2;
      width: 808px;
      height: 897px;
      background: linear-gradient(141.55deg, #c5420a -3.79%, #740092 82.82%);
      opacity: 0.7;
      filter: blur(325.06px);
      transform: translateX(-50%) translateY(-70%) rotate(-46deg);
    }
  }
}
