.header {
  background-color: #15212c;
  border-bottom: 2px solid #FFFFFF;

  &__container {
    padding: 0 23px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
  }

  &__text {
    display: none;
    color: #fff;
    font-size: 11px;
    line-height: 120%;

    @include onLaptop {
      display: block;
    }
  }

}
