@import "utils";
@import "fonts";

@import "./blocks/header.scss";
@import "./blocks/main-screen.scss";
@import "./blocks/welcome.scss";
@import "./blocks/bonuses.scss";
@import "./blocks/circle.scss";
@import "./blocks/more.scss";
@import "./blocks/app.scss";
@import "./blocks/lines.scss";
@import "./blocks/footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #fff;
  background-color: #0e001c;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;

  @include onLaptop {
    padding: 0 90px;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;
  width: 280px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  border: 3px solid #d80d83;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include onTablet {
    width: 500px;
    height: 80px;
    font-size: 26px;
  }

  &:hover {
    color: #d80d83;
    border: 3px solid #fff;
  }
}

.vbet-link {
  position: relative;
  display: inline-block;
  font-style: italic;
  color: #fff;
  line-height: 146%;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}

.dotes {
  display: flex;
  justify-content: center;

  &--big {
    & span {
      width: 7px;
      height: 7px;
    }
  }

  &--small {
    & span {
      width: 5px;
      height: 5px;
    }
  }

  & span {
    display: block;
    background-color: #fff;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.line {
  &__img {
    width: 100%;
  }
}

.social {
  display: flex;
  justify-content: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease;

    @include onLaptop {
      width: 40px;
      height: 40px;
    }

    &:not(:last-child) {
      margin-right: 25px;

      @include onLaptop {
        margin-right: 45px;
      }
    }

    &:first-child {
      background-image: url(../images/social-fb.png);
    }

    &:nth-child(2) {
      background-image: url(../images/social-tw.png);
    }

    &:nth-child(3) {
      background-image: url(../images/social-insta.png);
    }

    &:nth-child(4) {
      background-image: url(../images/social-youtube.png);
    }

    &:first-child:hover {
      background-image: url(../images/social-fb-hover.png);
    }

    &:nth-child(2):hover {
      background-image: url(../images/social-tw-hover.png);
    }

    &:nth-child(3):hover {
      background-image: url(../images/social-insta-hover.png);
    }

    &:nth-child(4):hover {
      background-image: url(../images/social-youtube-hover.png);
    }
  }
}
