%h2 {
  font-family: "TTFirsNeue";
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;

  @include onTablet {
    font-size: 40px;
  }
}

%text {
  font-size: 16px;
  line-height: 146%;
  text-align: center;

  @include onTablet {
    font-size: 24px;
  }
}
